header{
    background-color: rgb(177, 240, 83);
    color: blue;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav ul li,nav,h1{
        display: inline-block;
    }

   a {
        text-decoration: none;
    }
    
    nav{
    width: 60%;
}

 ul{
    width: fit-content;
    margin-left: auto;
}

li{
    margin-right: 20px;
}

}



 